@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #9c9b9b;
    --text-input-field: #eae9e9;
    --hospital-green: #8ad494;
    --sm: 16px;
    --md: 20px;
    --lg: 22px;

}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif !important;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;  
    justify-items: center;
}


.logo {
    width: 252px;
    justify-self: center;
    display: none;

}

.title{
    text-align: center;
}

.title-account, .title-order{
    font-size: var(--lg);
    margin-bottom: 36px;
    justify-self: start;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 12px;

}

.value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

.input {
    background-color:var(--text-input-field);
    border: none;
    border-radius: 8px;
    margin-bottom: 24px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
}
.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    
}

.email-image img {
    width: 80px;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.resend {
    font-size: var(--sm);
}
.resend span {
    color: var(--very-light-pink);
}
.resend a {
    color: var(--hospital-green);
    text-decoration: none;
}
.form a {
    color: var(--hospital-green);
    text-decoration: none;
    text-align: center;
}

.product-img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}

.cards-container {
    --card-size: 240px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 24px;
    place-content: center;

}

.product-card{
    width: var(--card-size);
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
    
}

.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin: 0 0 0 0;
    color: var(--very-light-pink)
}

figure {
    margin: 0;
}

.desktop-menu {
    width: 8rem;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 0px 20px;

}

.desktop-menu ul {
    list-style: none;
    padding: 8px;
    margin: 0;

}

.desktop-menu ul li{
    text-align: end;
    margin-bottom: 4px;

}

.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    font-size: var(--sm);
}

.desktop-menu ul li:last-child a{
    color: var(--very-light-pink)
}

.desktop-menu ul li:not(:last-child){
    font-weight: bold;
    padding: 8px 4px;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--black)
}

.mobile-menu{
    padding: 24px;
}
 .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 36px 0 0;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.mobile-menu-footer {
    position: fixed;
    bottom: 12px;
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: start;
    margin-top: 8px;
}

.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 332px;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background-color: var(--text-input-field);
    padding: 0 24px;
    margin-bottom: 24px;
}

.order-header p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order-header p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.order-header p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order-header p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.order-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.order-item figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.order-item p:nth-child(2){
    color: var(--very-light-pink);
}

.order-item p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}







@media (max-width: 640px){

    .login{
        height: 90vh;
    }

    .logo{
        display: block;
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }

    .form-container {
        height: 100%;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card{
        width: 140px;
    }
    .product-img {
        width: 140px;
        height: 140px;
        
    }

   
}
/* El espaciado / márgenes deben ser múltiplos de 4 */